@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --green: #537459;
  --green-light: #729578;
  --white: white;
  --black: black;
}

body {
  width: 100%;
  background-color: var(--white);
  overflow-x: hidden;
}

/* Header */
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__links {
  display: flex;
  gap: 10px;
}

.header__link {
  font-size: 16px;
  font-weight: 600;
  color: var(--green);
  cursor: pointer;
}

.header__navbar {
  display: flex;
  gap: 50px;
}

.header__navbar-input {
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--green);
  font-size: 16px;
}

.header__navbar-button {
  width: 170px;
  border-radius: 20px;
  border: none;
  background-color: var(--green-light);
}

.header__navbar-button:hover {
  background-color: var(--green);
  cursor: pointer;
}

.header__navbar-button a {
  color: var(--white);
  font-weight: 700;
}

/* Main */
.main {
  width: 100%;
  height: 905px;
  background-color: var(--green);
  display: flex;
  align-items: center;
}

.mainSection {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../img2/mainImage.jpg);
  background-size: cover;
  background-position: center;
}

.mainContent {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px;
  gap: 30px;
}

.mainTitle {
  font-size: 50px;
  font-weight: 700;
  color: var(--white);
}

.mainSubtitle {
  font-size: 30px;
  font-weight: 400;
  color: var(--white);
}

.mainButton {
  width: 200px;
  height: 50px;
  background-color: var(--white);
  color: var(--green);
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainForm {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainFormAction {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.mainTextTitle {
  font-size: 50px;
  font-weight: 700;
  color: var(--white);
}

.mainInput {
  width: 60%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--white);
  font-size: 16px;
  text-align: center;
}

.productos {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.productos h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--green);
}

.iconosServicios {
  display: flex;
  gap: 50px;
  width: 50%;
  justify-content: space-evenly;
}

.articleProducto {
  width: 80%x;
  height: 200px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.articleProducto img {
  width: 300px;
  height: 300px;
}

.articleProducto a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creditos {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--green);
}

.creditos img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(0 0 10px white);
}

.creditosContenedor {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.creditosContenedor h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--white);
  text-align: center;
}

.creditosContenedor p {
  font-size: 20px;
  font-weight: 400;
  color: var(--white);
  text-align: center;
}

.botonSaberMas {
  width: 200px;
  height: 50px;
  background-color: var(--white);
  color: var(--green);
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sucursales {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  background-color: rgba(147, 245, 165, 0.2);
}

iframe {
  width: 1000px;
  height: 60%;
  border-radius: 15px;
  z-index: 1;
  position: absolute;
}

.contenidoSucursales {
  width: 25%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--white);
  border-radius: 15px;
  z-index: 2;
  position: relative;
  top: 250px;
  right: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contenidoSucursales h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--green);
}

.contenidoSucursales p {
  font-size: 20px;
  width: 80%;
  font-weight: 400;
  color: var(--black);
  text-align: center;
}

.contenidoSucursales input {
  width: 60%;
  height: 30px;
  border-radius: 20px;
  border: 1px solid var(--green);
  font-size: 16px;
  text-align: center;
  background-color: rgba(147, 245, 165, 0.2);
}

.contenidoSucursales a {
  width: 200px;
  height: 30px;
  color: var(--black);
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contenidoSucursales a img {
  width: 20px;
}

/* Contenido principal pagina uno */

/* pagina cinco empresas */
.paginaAtencion {
  width: 100%;
  height: 900px;
}
.fondoVerde {
  width: 100%;
  height: 50%;
  background-color: var(--green);
}
.fondoBlanco {
  width: 100%;
  height: 50%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.fondoVerde h1 {
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 50px;
  text-align: left;
  position: relative;
  top: 100px;
  left: 150px;
}
.contenedorAtencion {
  width: 80%;
  height: 320px;
  border: solid 1px grey;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  position: relative;
  bottom: 310px;
  left: 140px;
}
.contenedorAtencion img {
  width: 100px;
  height: 100px;
}
.contenedorAtencionAbajo {
  width: 80%;
  height: 320px;
  border: solid 1px grey;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  position: relative;
  right: 890px;
  top: 30px;
}

/* Pie de pagina*/
.footer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--black);
}

.footer__links {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
}

.footer__links-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}	

.footer__links-title {
  font-size: 20px;
  color: var(--white);
  text-align: center;
}

.footer__links-item {
  font-size: 16px;
  color: var(--white);
  text-align: center;
}

.footer__divider {
  width: 80%;
  height: 1px;
  background-color: var(--white);
  margin-bottom: 10px;
}

.footer__social {
  width: 100%;
  height: 10%;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.footer__social-icons {
  display: flex;
  gap: 20px;
}

.footer__social-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-logo {
  display: flex;
  align-items: center;
  width: 30%;
}

.footer__social-logo img {
  width: 50px;
  height: 50px;
}

.footer__social-logo-title {
  font-size: 30px;
  color: var(--white);
}