@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --green: #537459;
  --green-light: #729578;
  --white: white;
  --black: black;
}

body {
  width: 100%;
  background-color: var(--white);
  overflow-x: hidden;
}

/* Header */
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__links {
  display: flex;
  gap: 10px;
}

.header__link {
  font-size: 16px;
  font-weight: 600;
  color: var(--green);
  cursor: pointer;
}

.header__navbar {
  display: flex;
  gap: 50px;
}

.header__navbar-input {
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--green);
  font-size: 16px;
}

.header__navbar-button {
  width: 170px;
  border-radius: 20px;
  border: none;
  background-color: var(--green-light);
}

.header__navbar-button:hover {
  background-color: var(--green);
  cursor: pointer;
}

.header__navbar-button a {
  color: var(--white);
  font-weight: 700;
}

/* Main */
.main {
  width: 100%;
  height: 905px;
  background-color: var(--green);
  display: flex;
  align-items: center;
}

.mainSection {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../img2/mainImage.jpg);
  background-size: cover;
  background-position: center;
}

.mainContent {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px;
  gap: 30px;
}

.mainTitle {
  font-size: 50px;
  font-weight: 700;
  color: var(--white);
}

.mainSubtitle {
  font-size: 30px;
  font-weight: 400;
  color: var(--white);
}

.mainButton {
  width: 200px;
  height: 50px;
  background-color: var(--white);
  color: var(--green);
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainForm {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainFormAction {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.mainTextTitle {
  font-size: 50px;
  font-weight: 700;
  color: var(--white);
}

.mainInput {
  width: 60%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--white);
  font-size: 16px;
  text-align: center;
}

.productos {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.productos h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--green);
}

.iconosServicios {
  display: flex;
  gap: 50px;
  width: 50%;
  justify-content: space-evenly;
}

.articleProducto a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creditos {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--green);
}

.creditos img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  filter: drop-shadow(0 0 10px white);
}

.creditosContenedor {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.creditosContenedor h1 {
  font-size: 50px;
  font-weight: 700;
  color: var(--white);
  text-align: center;
}

.creditosContenedor p {
  font-size: 20px;
  font-weight: 400;
  color: var(--white);
  text-align: center;
}

.botonSaberMas {
  width: 200px;
  height: 50px;
  background-color: var(--white);
  color: var(--green);
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sucursales {
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  background-color: rgba(147, 245, 165, 0.2);
}

iframe {
  width: 1000px;
  height: 60%;
  border-radius: 15px;
  z-index: 1;
  position: absolute;
}

.contenidoSucursales {
  width: 25%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--white);
  border-radius: 15px;
  z-index: 2;
  position: relative;
  top: 250px;
  right: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contenidoSucursales h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--green);
}

.contenidoSucursales p {
  font-size: 20px;
  width: 80%;
  font-weight: 400;
  color: var(--black);
  text-align: center;
}

.contenidoSucursales input {
  width: 60%;
  height: 30px;
  border-radius: 20px;
  border: 1px solid var(--green);
  font-size: 16px;
  text-align: center;
  background-color: rgba(147, 245, 165, 0.2);
}

.contenidoSucursales a {
  width: 200px;
  height: 30px;
  color: var(--black);
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contenidoSucursales a img {
  width: 20px;
}

/* Contenido principal pagina uno */
.mainUno {
  width: 100%;
  height: 905px;
  background-color: #537459;
  color: white;
  display: flex;
  align-items: center;
}
.mainUno section {
  width: 50%;
  height: 905px;
}
.mainUno section img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.titulo-main-img {
  font-size: 50px;
  font-weight: 700;
  font-family: "Monserrat", sans-serif;
  margin-left: 50px;
  position: relative;
  bottom: 700px;
  z-index: 2;
}
.subtitulo-main-img {
  width: 40%;
  font-size: 20px;
  font-weight: 400;
  font-family: "Monserrat", sans-serif;
  margin-left: 50px;
  position: relative;
  bottom: 700px;
  z-index: 2;
}
.invertir-ahora {
  width: 271px;
  height: 85px;
  background-color: white;
  color: #537459;
  border: solid 1px #537459;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 50px;
  position: relative;
  bottom: 600px;
  z-index: 2;
}
.textoMain {
  width: 50%;
}
.titulo {
  width: 70%;
  font-size: 50px;
  font-weight: 700;
  font-family: "Monserrat", sans-serif;
  text-align: justify;
  margin-left: 50px;
  position: relative;
  top: 195px;
}
.textoMain div {
  width: 60%;
  height: 30%;
  position: relative;
  left: 20%;
  top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input-empresa {
  width: 352px;
  height: 44px;
  background-color: white;
  color: black;
  border: solid 1px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.AbrirCuenta {
  width: 275px;
  height: 86px;
  background-color: white;
  color: black;
  border: solid 1px black;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 40px;
}
/* pagina dos empresas */
.pag-2-empresas {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  border: solid 1px black;
}
.pag-2-empresas h1 {
  width: 40%;
  font-family: "Monserrat", sans-serif;
  font-weight: 700;
  font-size: 50px;
  position: relative;
  right: 150px;
}
.iconos-servicios {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
}
.iconos-servicios a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Monserrat", sans-serif;
  color: #537459;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}
.icono {
  width: 180px;
  height: 180px;
  margin-bottom: 50px;
}

/* Pagina tres empresas*/
.pag-3-empresas {
  width: 100%;
  height: 600px;
  background-color: #537459;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.pag-3-empresas section img {
  position: relative;
  left: 100px;
  top: 100px;
}
.texto-pag-3 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.texto-pag-3 h1 {
  font-family: "Monserrat", sans-serif;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}
.texto-pag-3 p {
  width: 60%;
  font-family: "Monserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.boton-saber-mas {
  width: 205px;
  height: 86px;
  background-color: white;
  color: black;
  border: solid 1px transparent;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  margin-top: 60px;
}
/* Pagina cuatro empresas */
.pag-4 {
  width: 100%;
  height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px white;
}
.pag-4 div {
  width: 100%;
  height: 40%;
  background-color: #537459;
  position: absolute;
  z-index: 1;
}
.pag-4 iframe {
  width: 1000px;
  height: 70%;
  border-radius: 15px;
  position: relative;
  top: 97px;
  z-index: 2;
}
.pag-4 section {
  width: 513px;
  height: 330px;
  background-color: white;
  border: solid 1px transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  gap: 30px;
  position: relative;
  bottom: 150px;
  right: 270px;
  z-index: 3;
}
.pag-4 section h2 {
  width: 60%;
  font-size: 30px;
  font-weight: 700;
  font-family: "Monserrat", sans-serif;
  text-align: left;
  margin-right: 100px;
}
.pag-4 section p {
  width: 80%;
  font-size: 20px;
  font-weight: 400;
  font-family: "Monserrat", sans-serif;
  text-align: justify;
  margin: 0 20px 0 20px;
}
.pag-4 section a {
  text-decoration: none;
  color: #537459;
  font-size: 20px;
  font-weight: 700;
  font-family: "Monserrat", sans-serif;
}
.pag-4 section a img {
  width: 25px;
  height: 25px;
}
/* pagina cinco empresas */
.pag-5-empresas {
  width: 100%;
  height: 900px;
}
.fondo-verde {
  width: 100%;
  height: 50%;
  background-color: #537459;
}
.fondo-blanco {
  width: 100%;
  height: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.fondo-verde h1 {
  color: white;
  font-family: "Monserrat", sans-serif;
  font-weight: 700;
  font-size: 50px;
  text-align: left;
  position: relative;
  top: 100px;
  left: 150px;
}
.contenedor-pag-5 {
  width: 80%;
  height: 320px;
  border: solid 1px grey;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  position: relative;
  bottom: 310px;
  left: 140px;
}
.contenedor-pag-5 img {
  width: 100px;
  height: 100px;
}
.contenedor-pag-5-abajo {
  width: 80%;
  height: 320px;
  border: solid 1px grey;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  position: relative;
  right: 890px;
  top: 30px;
}

/* Pie de pagina*/
.Pie-pagina {
  width: 100%;
  height: 432px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-pie-pag {
  width: 100%;
  height: 229px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.nav-pie-pag div {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  text-align: left;
  padding-bottom: 50px;
  border-bottom: solid 1px white;
}
.nav-pie-pag h1 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Monserrat", sans-serif;
  margin-bottom: 30px;
}
.nav-pie-pag a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  font-family: "Monserrat", sans-serif;
}
.redes-pie-pag {
  width: 90%;
  height: 90%;
  align-items: first baseline;
  display: flex;
  justify-content: space-between;
}
.red-social-pie-pag {
  display: flex;
  gap: 20px;
}
.red-social-pie-pag img {
  width: 30px;
  height: 30px;
}
