@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --green: #537459;
  --green-light: #729578;
  --white: white;
  --black: black;
}

body {
  width: 100%;
  background-color: var(--white);
  overflow-x: hidden;
}

/* Header */
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__links {
  display: flex;
  gap: 10px;
}

.header__link {
  font-size: 16px;
  font-weight: 600;
  color: var(--green);
  cursor: pointer;
}

.header__navbar {
  display: flex;
  gap: 50px;
}

.header__navbar-input {
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--green);
  font-size: 16px;
}

.header__navbar-button {
  width: 170px;
  border-radius: 20px;
  border: none;
  background-color: var(--green-light);
}

.header__navbar-button:hover {
  background-color: var(--green);
  cursor: pointer;
}

.header__navbar-button a {
  color: var(--white);
  font-weight: 700;
}

/* Main */
.main {
  display: flex;
  width: 100%;
  height: 900px;
}

.main__image {
  width: 50%;
}

.main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: var(--green);
  gap: 50px;
}

.main__content,
.main__services {
  width: 100%;
  height: 200px;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin-left: 50px;
  color: var(--white);
}

.main__content-title {
  font-size: 20px;
}

.main__content-heading {
  width: 90%;
  font-size: 50px;
}

.main__content-text {
  width: 90%;
  font-size: 18px;
}

.main__services {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
}

.main__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100px;
}

.main__logo img {
  width: 50px;
  height: 50px;
}

.main__logo a {
  color: var(--white);
  font-weight: 700;
}

.main__button {
  width: 40%;
  height: 60px;
  border-radius: 30px;
  border: none;
}

.main__button a {
  font-size: 16px;
  font-weight: 600;
  color: var(--green);
}

/* Productos */
.productos {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.productos__title {
  font-size: 45px;
  margin-top: 30px;
  color: var(--green);
}

.productos__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.productos__image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.9));
}

.productos__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 890px;
  height: 550px;
}

.productos__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 300px;
  text-align: center;
}

.productos__icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.productos__icon img {
  width: 130px;
  height: 130px;
}

.productos__item-text {
  margin: 0;
  color: var(--green);
  font-size: 20px;
  font-weight: 600;
}

/* Tarjetas */
.tarjetas {
  display: flex;
  align-items: center;
  background-color: var(--green);
  width: 100%;
  height: 500px;
}

.tarjetas__image {
  width: 50%;
  height: auto;
  max-height: 450px;
  border-radius: 10px;
  object-fit: cover;
  filter: drop-shadow(0 0 10px rgba(44, 70, 48, 0.9));
}

.tarjetas__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 50%;
  height: 100%;
}

.tarjetas__title {
  text-align: center;
  font-size: 40px;
  color: var(--white);
}

.tarjetas__text {
  text-align: center;
  font-size: 20px;
  width: 60%;
  color: var(--white);
}

.tarjetas__buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tarjetas__button {
  width: 250px;
  height: 50px;
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 5px;
}

.tarjetas__button a {
  color: var(--white);
  font-weight: 600;
}

/* Empresa */
.empresa {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.empresa__white {
  width: 100%;
  height: 450px;
  background-color: var(--white);
  z-index: 1;
}

.empresa__container {
  background-image: url(../img/rytyy.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  height: 600px;
  position: absolute;
  top: 112.5px;
  border-radius: 20px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empresa__content {
  width: 40%;
  height: 35%;
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.empresa__content-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--green);
}

.empresa__content-text {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  text-align: center;
}

.empresa__content-button {
  width: 200px;
  height: 40px;
  background-color: var(--green);
  border: none;
  border-radius: 10px;
}

.empresa__content-button a {
  color: var(--white);
  font-weight: 700;
}

.empresa__green {
  width: 100%;
  height: 450px;
  background-color: var(--green);
  z-index: 1;
  position: relative;
  top: -112.5px;
}

/* Vivienda */
.vivienda {
  width: 100%;
  height: 700px;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
}

.vivienda__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100%;
}

.vivienda__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 50%;
  height: 100%;
}

.vivienda__content-title {
  font-size: 30px;
  color: var(--white);
}

.vivienda__content-subtitle {
  font-size: 25px;
  color: var(--white);
}

.vivienda__content-heading {
  font-size: 20px;
  color: var(--white);
}

.vivienda__content-text {
  font-size: 20px;
  color: var(--white);
}

.vivienda__image {
  width: 50%;
  height: 600px;
  border-radius: 20px;
}

/* Clientes */
.clientes {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clientes__title {
  font-size: 40px;
  color: var(--green);
}

.clientes__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70%;
}

.clientes__comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 300px;
  height: 400px;
  background-color: rgba(83, 116, 89, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.clientes__comment-text {
  width: 80%;
  font-size: 17px;
  color: var(--white);
  text-align: justify;
}

.clientes__comment-author {
  font-size: 20px;
  color: var(--white);
}

.clientes__comment-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Inversiones */
.inversiones {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(83, 116, 89, 0.3);
}

.inversiones__title {
  font-size: 30px;
  color: var(--green);
}

.inversiones__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 80%;
}

.inversiones__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 30%;
  height: 70%;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.inversiones__card--primary {
  background-color: var(--green);
}

.inversiones__card--secondary {
  background-color: var(--green-light);
}

.inversiones__card--tertiary {
  background-color: #A1B9A3;
}

.inversiones__card-title {
  font-size: 40px;
  color: var(--white);
}

.inversiones__card-text {
  font-size: 16px;
  color: var(--white);
  width: 80%;
  text-align: center;
}

/* Info */
.info {
  width: 100%;
  height: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__branches-container {
  display: flex;
  width: 80%;
  height: 50%;
  align-items: center;
  gap: 50px;
}

.info__branches-image {
  width: 50%;
  height: 500px;
  border-radius: 20px;
  object-fit: cover;
}

.info__branches-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 50%;
  height: 100%;
}

.info__branches-title {
  font-size: 25px;
  text-align: center;
  color: var(--green);
}

.info__branches-text {
  font-size: 20px;
  text-align: justify;
  color: var(--black);
}

.info__branches-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.info__branches-button--primary {
  width: 200px;
  height: 40px;
  color: var(--white);
  font-weight: 700;
  background-color: var(--green);
  border: none;
  border-radius: 10px;
}

.info__branches-button--secondary {
  width: 200px;
  height: 40px;
  color: var(--green);
  font-weight: 700;
  background-color: var(--white);
  border: 2px solid var(--green);
  border-radius: 10px;
}

.info__contact {
  display: flex;
  width: 80%;
  height: 50%;
  align-items: center;
  gap: 50px;
}

.info__contact-image {
  width: 50%;
  height: 500px;
  border-radius: 20px;
  object-fit: cover;
}

.info__contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 50%;
  height: 100%;
}

.info__contact-title {
  font-size: 25px;
  text-align: center;
  color: var(--green);
}

.info__contact-fieldset {
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: transparent;
  gap: 15px;
}

.info__contact-input {
  width: 100%;
  border: solid 1px transparent;
  border-bottom: solid 1px;
}

.info__contact-textarea {
  width: 100%;
  height: 100px;
  border: solid 1px transparent;
  border-bottom: solid 1px;
}

.info__contact-check {
  display: flex;
  align-items: center;
  width: 100%;
}

.info__contact-check-input {
  width: 20px;
}

.info__contact-submit {
  width: 100%;
  height: 40px;
  color: var(--white);
  font-weight: 700;
  background-color: var(--green);
  border: none;
  border-radius: 10px;
}

/* Footer */
.footer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--black);
}

.footer__links {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
}

.footer__links-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}	

.footer__links-title {
  font-size: 20px;
  color: var(--white);
  text-align: center;
}

.footer__links-item {
  font-size: 16px;
  color: var(--white);
  text-align: center;
}

.footer__divider {
  width: 80%;
  height: 1px;
  background-color: var(--white);
  margin-bottom: 10px;
}

.footer__social {
  width: 100%;
  height: 10%;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.footer__social-icons {
  display: flex;
  gap: 20px;
}

.footer__social-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-logo {
  display: flex;
  align-items: center;
  width: 30%;
}

.footer__social-logo img {
  width: 50px;
  height: 50px;
}

.footer__social-logo-title {
  font-size: 30px;
  color: var(--white);
}