@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

:root {
  --green: #537459;
  --green-light: #729578;
  --white: white;
  --black: black;
}

body {
  width: 100%;
  background-color: var(--white);
}

/* Inicio del Header */
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-enlaces {
  display: flex;
  gap: 10px;
}

.header-enlaces a {
  font-size: 16px;
  font-weight: 600;
  color: var(--green);
  cursor: pointer;
}

.header-navbar {
  display: flex;
  gap: 50px;
}

.header-navbar input {
  height: 40px;
  border-radius: 20px;
  border: 1px solid var(--green);
  font-size: 16px;
}

.header-navbar_login {
  width: 170px;
  border-radius: 20px;
  border: none;
  background-color: var(--green-light);
}

.header-navbar_login:hover {
  background-color: var(--green);
  cursor: pointer;
}

.header-navbar_login a {
  color: var(--white);
  font-weight: 700;
}
/* Fin del header */

/* inicio del main*/
main {
  display: flex;
  width: 100%;
  height: 900px;
}

main img {
  width: 50%;
}

.main-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: var(--green);
  gap: 50px;
}

.main-contenido,
.main-servicios {
  width: 100%;
  height: 200px;
  /* background-color: aliceblue; */
}

.main-contenido {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin-left: 50px;
  color: var(--white);
}

.main-contenido h2 {
  font-size: 20px;
}

.main-contenido h1 {
  width: 90%;
  font-size: 50px;
}

.main-contenido p {
  width: 90%;
  font-size: 18px;
}

.main-servicios {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-enlaces {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
}

.main-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100px;
}

.main-logo img {
  width: 50px;
  height: 50px;
}

.main-logo a {
  color: var(--white);
  font-weight: 700;
}
.main-button {
  width: 40%;
  height: 60px;
  border-radius: 30px;
  border: none;
}

.main-button a {
  font-size: 16px;
  font-weight: 600;
  color: var(--green);
}
/* Fin del main */

/* Inicio de productos */
.productos {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.productos h1 {
  font-size: 45px;
  margin-top: 30px;
  color: var(--green);
}

.productos-contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.productos-contenedor img {
  width: 40%;
  height: 850px;
}

.productos-contenido {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 890px;
  height: 550px;
}

.productos-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 300px;
  text-align: center;
}

.productos-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.productos-icon img {
  width: 130px;
  height: 130px;
}

.productos-item p {
  margin: 0;
  color: var(--green);
  font-size: 20px;
  font-weight: 600;
}
/* Fin de productos */

/* inicio tarjetas */
.tarjetas {
  display: flex;
  align-items: center;
  background-color: var(--green);
  width: 100%;
  height: 500px;
}

.tarjetas img {
  width: 50%;
  height: 450px;
}

.tarjetas-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 50%;
  height: 100%;
}

.tarjetas-contenido h1 {
  text-align: center;
  font-size: 40px;
  color: var(--white);
}

.tarjetas-contenido p {
  text-align: center;
  font-size: 20px;
  width: 60%;
  color: var(--white);
}

.tarjetas-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tarjetas-buttons button {
  width: 250px;
  height: 50px;
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 5px;
}

.tarjetas-buttons button a {
  color: var(--white);
  font-weight: 600;
}
/* fin tarjetas */

/* inicio empresa */
.empresa {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.empresa-white {
  width: 100%;
  height: 450px;
  background-color: var(--white);
  z-index: 1;
}

.empresa-contenedor {
  background-image: url(../img/rytyy.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  height: 600px; /* Adjusted to match the height of .empresa-white and .empresa-green */
  position: absolute;
  top: 112.5px; /* Quarter of .empresa-white height */
  border-radius: 20px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empresa-contenido {
  width: 40%;
  height: 35%;
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.empresa-contenido h2 {
  font-size: 20px;
  font-weight: 700;
  color: var(--green);
}

.empresa-contenido p {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  text-align: center;
}

.empresa-contenido button {
  width: 200px;
  height: 40px;
  background-color: var(--green);
  border: none;
  border-radius: 10px;
}

.empresa-contenido button a {
  color: var(--white);
  font-weight: 700;
}

.empresa-green {
  width: 100%;
  height: 450px;
  background-color: var(--green);
  z-index: 1;
  position: relative;
  top: -112.5px; /* Move up by quarter of .empresa-white height */
}
/* fin empresa */

/* inicio vivienda */
.vivienda {
  width: 100%;
  height: 700px;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: center;
}

.vivienda-contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 100%;
}

.vivienda-contenido {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  width: 50%;
  height: 100%;
}

.vivienda-contenido h1 {
  font-size: 30px;
  color: var(--white);
}

.vivienda-contenido h2 {
  font-size: 25px;
  color: var(--white);
}

.vivienda-contenido h3 {
  font-size: 20px;
  color: var(--white);
}

.vivienda-contenido p {
  font-size: 20px;
  color: var(--white);
}

.vivienda-contenedor img {
  width: 50%;
  height: 600px;
  border-radius: 20px;
}
/* fin vivienda */

/* inicio clientes */
.clientes {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clientes h1 {
  font-size: 40px;
  color: var(--green);
}

.clientes-contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70%;
}

.comentarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 300px;
  height: 400px;
  background-color: rgba(83, 116, 89, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.comentarios p {
  width: 80%;
  font-size: 17px;
  color: var(--white);
  text-align: justify;
}

.comentarios h2 {
  font-size: 20px;
  color: var(--white);
}

.comentarios img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.comentarios img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/* fin clientes */

/* inicio inversiones */
.inversiones {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(83, 116, 89, 0.3);
}

.inversiones h1 {
  font-size: 30px;
  color: var(--green);
}

.inversiones-contenedor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 80%;
}

.inversiones-cartas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 30%;
  height: 70%;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.inversiones-cartas:nth-child(1) {
  background-color: var(--green); 
}

.inversiones-cartas:nth-child(2) {
  background-color: var(--green-light); 
}

.inversiones-cartas:nth-child(3) {
  background-color: #A1B9A3;
}

.inversiones-cartas h2 {
  font-size: 40px;
  color: var(--white);
}

.inversiones-cartas p {
  font-size: 16px;
  color: var(--white);
  width: 80%;
  text-align: center;
}
/* fin inversiones */

/* pagina seis */
.pag-6 {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px white;
}
.mitad-pag-6 {
  width: 100%;
  height: 50%;
  background-color: #537459;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
.mitad-pag-6 h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Monserrat", sans-serif;
  margin-top: 40px;
}
.contenedor-coment-pag-6 {
  width: 1033px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
}
.comentario-pag-6 {
  width: 30%;
  height: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  border: solid 1px grey;
}
.comentario-pag-6 {
  position: relative;
  top: 90px;
  z-index: 2;
}
.comentario-pag-6 p {
  width: 80%;
  font-size: 20px;
  font-weight: 400;
  font-family: "Monserrat", sans-serif;
  text-align: justify;
  color: grey;
}
.comentario-pag-6 h2 {
  width: 80%;
  font-size: 20px;
  font-weight: 700;
  font-family: "Monserrat", sans-serif;
  text-align: center;
  color: grey;
}
.viñeta-coment-pag-6 {
  width: 64px;
  height: 64px;
  margin-right: 70%;
}
.img-coment-pag-6 {
  width: 109px;
  height: 109px;
  border: solid 1px transparent;
  border-radius: 60px;
}
/* pagina siete */
.pag-7 {
  width: 100%;
  height: 609px;
}
.invertir-pag-7 {
  width: 70%;
  height: 387px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-left: 50px;
}
.invertir-pag-7 section {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: solid 1px grey;
}
.invertir-pag-7 h1 {
  font-size: 70px;
  font-weight: 700;
  font-family: "Monserrat", sans-serif;
}
.invertir-pag-7 p {
  width: 80%;
  margin: 30px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Monserrat", sans-serif;
  text-align: justify;
}
.cincuenta-pag-7 {
  background-color: #537459;
  color: white;
}
.doscientos-pag-7 {
  background-color: #729578;
  color: white;
}
.veinte-pag-7 {
  background-color: whitesmoke;
}
.acciones-pag-7 h1 {
  width: 50%;
  font-size: 30px;
  font-weight: 700;
  font-family: "Monserrat", sans-serif;
  margin: 40px;
}
/* pagina ocho*/
.pag-8 {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pag-8 img {
  width: 50%;
  height: 90%;
}
.pag-8 img:hover {
  transition: 1s;
  transform: translateX(-100px);
}
.pag-8 div {
  width: 50%;
  height: 100%;
}
.pag-8 div:hover {
  transition: 1s;
  transform: translateX(100px);
}
.pag-8 div h1 {
  width: 80%;
  font-size: 48px;
  font-weight: 700;
  font-family: "Monserrat", sans-serif;
  text-align: center;
  margin: 40px;
}
.pag-8 div p {
  width: 80%;
  font-size: 20px;
  font-weight: 400;
  font-family: "Monserrat", sans-serif;
  text-align: justify;
  margin: 50px;
}
.boton-pag-8 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 0 190px 0 190px;
}
.buscar-pag-8 {
  width: 208px;
  height: 46px;
  background-color: white;
  color: #537459;
  border: solid 1px #537459;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
}
.solicitar-pag-8 {
  width: 208px;
  height: 46px;
  background-color: #537459;
  color: white;
  border: solid 1px #537459;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
}
/* pagina nueve */
.pag-9 {
  width: 100%;
  height: 657px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pag-9 img {
  width: 50%;
  height: 100%;
}
.form-pag-9 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-pag-9 label {
  color: #537459;
  font-size: 36px;
  font-weight: 700;
  font-family: "Monserrat", sans-serif;
  text-align: center;
}
.form-pag-9 fieldset {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: transparent;
  gap: 15px;
}
.form-pag-9 span {
  font-size: 15px;
  font-weight: 400;
  font-family: "Monserrat", sans-serif;
}
.form-pag-9 input {
  width: 100%;
  border: solid 1px transparent;
  border-bottom: solid 1px;
}
.form-pag-9 textarea {
  width: 100%;
  height: 100px;
  border: solid 1px transparent;
  border-bottom: solid 1px;
}
.Check-pag-9 input {
  position: relative;
  right: 100px;
}
.Check-pag-9 span {
  position: relative;
  bottom: 20px;
  left: 30px;
}
.boton-pag-9 {
  width: 208px;
  height: 46px;
  background-color: #537459;
  color: white;
  border: solid 1px #537459;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
}
/* Pie de pagina*/
.Pie-pagina {
  width: 100%;
  height: 432px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-pie-pag {
  width: 100%;
  height: 229px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.nav-pie-pag div {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  text-align: left;
  padding-bottom: 50px;
  border-bottom: solid 1px white;
}
.nav-pie-pag h1 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Monserrat", sans-serif;
  margin-bottom: 30px;
}
.nav-pie-pag a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  font-family: "Monserrat", sans-serif;
}
.redes-pie-pag {
  width: 90%;
  height: 90%;
  align-items: first baseline;
  display: flex;
  justify-content: space-between;
}
.red-social-pie-pag {
  display: flex;
  gap: 20px;
}
.red-social-pie-pag img {
  width: 30px;
  height: 30px;
}
